name: Terraform Deploy (Manual Apply)

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    # environment: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::805063697151:role/github-actions-terraform-deploy-terraform-oidc-gh
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Terraform Init
        run: terraform -chdir=terraform init

      - name: Terraform Validate
        run: terraform -chdir=terraform validate

      - name: Terraform Plan
        run: terraform -chdir=terraform plan -input=false -out=tfplan

      # - name: Save Plan Artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: tfplan
      #     path: terraform/tfplan
      # - uses: trstringer/manual-approval@v1
      #   with:
      #     secret: ${{ github.TOKEN }}
      #     approvers: dlmoore412
      #     minimum-approvals: 1
      #     issue-title: "Deploying v1.0.0 to prod"
      #     issue-body: "Review the terraform plan, then approve or deny the deployment of v1.0.0 to dev."
      #     exclude-workflow-initiator-as-approver: false
      - name: Terraform apply
        run: |
          terraform apply

  # manual-apply:
  #   runs-on: ubuntu-latest
  #   # environment: production
  #   needs: terraform
  #   if: github.event_name == 'workflow_dispatch'
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Configure AWS credentials via OIDC
  #       uses: aws-actions/configure-aws-credentials@v4
  #       with:
  #         role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
  #         aws-region: ${{ secrets.AWS_REGION }}

  #     - name: Setup Terraform
  #       uses: hashicorp/setup-terraform@v2
  #       with:
  #         terraform_version: 1.6.0

  #     - name: Terraform Init
  #       run: terraform -chdir=terraform init

  #     - name: Download Plan
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: tfplan
  #         path: terraform/

  #     - name: Manual Terraform Apply
  #       run: terraform -chdir=terraform apply -input=false tfplan

